ul.scroll-spy-nav {
  list-style: none; }
  ul.scroll-spy-nav li {
    margin-bottom: 8px;
    padding: 8px;
    cursor: pointer; }
  ul.scroll-spy-nav li.active {
    font-weight: 500;
    border-left: 2px solid #ffb41f; }
